@font-face {
    font-family: BebasNeueBold;
    src: url('../fonts/21158.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #9d6491b3;
    --white-color: #ffffff;
    --dark-color: #c2b7d3;
    --about-bg-color: #f9f9f9;

    --gray-color: #bebebe;
    --link-color: #440a75;
    --p-color: #6a9b9b;

    --base-font-family: BebasNeueBold, sans-serif;

    --h1-font-size: 70px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 22px;
    --p-font-size: 18px;
    --menu-font-size: 25px;

    --border-radius-small: 2px;
}


body {
    background: var(--white-color);
    font-family: var(--base-font-family);
    letter-spacing: normal;
}


/*---------------------------------------
   TYPOGRAPHY
-----------------------------------------*/

h1 {
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    margin: 20px 0;
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
    margin: 0;
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    color: var(--gray-color);
    font-size: var(--h6-font-size);
    line-height: inherit;
    margin: 0;
}

p {
    color: var(--link-color);
    font-size: var(--p-font-size);
    line-height: 1.5em;
}


.section {
    padding: 4rem 0;
}


/* BUTTON */

.custom-btn {
    background: transparent;
    border-radius: var(--border-radius-small);
    padding: 14px 24px;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    color: var(--primary-color);
}

.custom-btn:focus {
    box-shadow: none;
}

.custom-btn.bordered:hover,
.custom-btn.bordered:focus,
.custom-btn.bg-color:hover,
.custom-btn.bg-color:focus {
    background: var(--white-color);
    border-color: transparent;
    color: var(--primary-color);
}

.bordered {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.bg-color {
    background: var(--primary-color);
    color: var(--white-color);
}


/*---------------------------------------
   GENERAL
-----------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
    color: var(--primary-color);
    outline: none;
    text-decoration: none;
}


/* BG OVERLAY */

.bg-overlay1 {
    background: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.bg-overlay2 {
    background: var(--white-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
}


/*---------------------------------------
   MODAL
-----------------------------------------*/

.modal-content {
    margin-top: 22%;
    padding: 2rem 3rem;
}

/* #alert {
    color: var(--link-color);
    margin-bottom: 10px;
} */

.modal-header,
.modal-body,
.modal-footer {
    border: 0;
    padding: 0;
}

/*---------------------------------------
  FEATURE
-----------------------------------------*/

.feature {
    background: var(--dark-color);
    padding: 5rem 0;
}


/*---------------------------------------
   MENU
-----------------------------------------*/

.navbar {
    background: var(--dark-color);
    padding: 0.2rem;
}

/* .navbar-expand-lg .navbar-expand-md .navbar-nav .nav-link {
    padding: 1.5rem 1.35rem;
} */

.navbar-toggler {
    margin-top: 5.5px;
    padding: 14px;
    font-size: 2rem;
    line-height: 1;
    color: white;
}

button:focus {
    outline: 0px dotted;
    /* outline: 0px auto -webkit-focus-ring-color; */
}

.navbar-brand {
    color: var(--white-color);
    font-size: var(--h2-font-size);
    line-height: normal;
    padding-top: 0;
}

.nav-item .nav-link {
    display: block;
    color: var(--white-color);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    padding: 22px 0px;
    margin-right: 1rem;
}

.nav-item .navbar-toggler .nav-link.active,
.nav-item .navbar-toggler .nav-link:hover {
    color: var(--primary-color);
}

.navbar .user-icon a {
    padding-top: 1rem;
    color: var(--white-color);
}

/*---------------------------------------
   HERO
-----------------------------------------*/

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
}


/*---------------------------------------
   CLASS
-----------------------------------------*/

.class-info {
    background: var(--white-color);
    box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    position: relative;
}

.class-info img {
    border-radius: 2px 2px 0 0;
}

.class-info strong {
    color: var(--gray-color);
}

/*---------------------------------------
   SCHEDULE
-----------------------------------------*/

.schedule {
    background: var(--dark-color);
}

.schedule-table {
    display: table;
    border: 0;
    text-align: center;
}

.schedule-table strong,
.schedule-table span {
    display: block;
    text-align: center;
}

.schedule-table strong {
    color: var(--white-color);
}

.schedule-table span {
    color: var(--gray-color);
}

.schedule-table span,
.schedule-table small {
    font-size: var(--menu-font-size);
    text-transform: uppercase;
}

.schedule-table small {
    position: relative;
    top: 10px;
}

.table .thead-light th,
.schedule-table tr td:first-child {
    background: var(--primary-color);
    border: 1px solid #212122;
    color: var(--white-color);
}

.schedule-table .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #212122;
}

.table-bordered td {
    padding-bottom: 22px;
}

.table td, .table th {
    padding: 2rem;
}


/*---------------------------------------
    ABOUT & TEAM
-----------------------------------------*/

.about {
    background-image: url('../images/team/girl1.jpg');
    background-repeat: no-repeat;
    /*    background-attachment: fixed;*/
    background-position: center;
    vertical-align: middle;
    min-height: auto;
    position: relative;
}

.about-working-hours {
    border-left: 2px solid;
    padding-left: 3.5rem;
}

.about-working-hours strong {
    color: var(--white-color);
    opacity: 0.85;
}

.user-icon {
    position: absolute;
    margin-top: 3px;
}

/*---------------------------------------
   CONTACT
-----------------------------------------*/

.user-form input,
button#buttonSignUp,
button#buttonSignIn,
button#FormSignIn,
button#FormSignUp {
    height: calc(2.25rem + 20px);
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    margin: 1.3rem 0;
    opacity: 0.85;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--link-color);
}

button#buttonSignUp,
button#buttonSignIn,
button#FormSignIn,
button#FormSignUp {
    background: var(--dark-color);
    border-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

button#buttonSignUp:hover,
button#buttonSignIn:hover,
button#FormSignIn:hover,
button#FormSignUp:hover {
    background: var(--primary-color);
}

.contact h2 + p {
    max-width: 90%;
}

.google-map {
    border-top: 1px solid #efebeb;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
}

.google-map iframe {
    width: 100%;
}


/*---------------------------------------
   FOOTER
-----------------------------------------*/

.site-footer {
    border-top: 1px solid #efebeb;
    padding: 3rem 0;
}

.site-footer a {
    color: var(--link-color);
}

.site-footer p {
    font-size: var(--p-font-size);
}

.contact .fa,
.site-footer .fa {
    color: var(--primary-color);
}


/*---------------------------------------
   user ICON
-----------------------------------------*/

.user-icon {
    position: relative;
    padding: 0;
    margin: 5px 0 0 0;
}

.user-icon li {
    display: inline-block;
    list-style: none;
}

.user-icon li a {
    text-decoration: none;
    display: inline-block;
    color: var(--link-color);
    font-size: var(--p-font-size);
    margin: 5px 10px;
    text-align: center;
}

.user-icon li a:hover {
    color: var(--primary-color);
}


/*---------------------------------------
   RESPONSIVE STYLES
-----------------------------------------*/

@media screen and (max-width: 992px) {

    .section {
        padding: 5rem 0;
    }

    .nav-item .nav-link {
        padding: 6px;
        padding-top: 1.1rem;
    }

    .navbar .user-icon {
        margin-top: 22px;
    }

    .navbar-collapse,
    .site-footer {
        text-align: center;
    }

    .schedule-table {
        display: block;
    }

    .modal-content {
        padding: 2rem;
    }
}

@media screen and (max-width: 767px) {

    h1 {
        font-size: 38px;
    }

    .about-working-hours {
        border-left: 0;
        padding: 22px 0 0 0;
    }

    .contact h2 span {
        display: block;
    }
}